# Core modules (mandatory)
jupyterlite-core==0.2.3
jupyterlab~=4.0.11
notebook~=7.0.7
grpcio>=1.53.0
jupyterlite-pyodide-kernel==0.2.3

jupyterlab-language-pack-fr-FR
jupyterlab-language-pack-zh-CN

jupyterlab-fasta>=3.3.0,<4
jupyterlab-geojson>=3.4.0,<4
jupyterlab-night
ipywidgets>=8.1.1,<9
ipyevents>=2.0.1
ipympl>=0.8.2
ipycanvas>=0.9.1
ipyleaflet
plotly>=5,<6
bqplot
